<!DOCTYPE html>
<!--[if lt IE 7]>
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]--><!--[if IE 7]>
  <html class="no-js lt-ie9 lt-ie8">
<![endif]--><!--[if IE 8]>
  <html class="no-js lt-ie9">
<![endif]--><!--[if gt IE 8]><!-->
  <html class="no-js">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="shortcut icon" href="/statics/img/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="statics/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="statics/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="statics/css/global.css">
    <link rel="stylesheet" type="text/css" href="statics/css/post.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="post">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="header">
                  <div class="clearfix">
                    <div class="pull-left">
                      <img class="profile-picture" src="http://graph.facebook.com/{{ article.created_by }}/picture?type=square">
                    </div>
                    <div class="pull-left">
                      <div class="article-writer">
                        <a href="https://facebook.com/{{ article.created_by }}">
                          {{ article.created_by }}
                        </a>
                      </div>
                      <div class="article-detail">
                        <a href="">
                          {{ article.created_at }}
                        </a>
                        ·
                        <i class="fa fa-globe">
                        </i>  
                      </div>
                    </div>
                    <div class="pull-right">
                      <div class="dropdown">
                        <a id="action" class="pull-right" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" aria-labelledby="action">
                          <li>
                            <a href="#">
                              <i class="fa fa-bookmark"></i> 게시물 받아보기
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <i class="fa fa-exclamation-circle"></i> 게시물 신고하기
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="contents">
                  {{ article.message }}
                </div>
                <div class="footer">
                  <hr>
                  <button>
                    <i class="fa fa-thumbs-up"></i>
                    <span>좋아요</span>
                  </button>
                  <button>
                    <i class="fa fa-comment"></i>
                    <span>댓글달기</span>
                  </button>
                  <button>
                    <i class="fa fa-share"></i>
                    <span>공유하기</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="comments">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="header">
                    <i class="fa fa-thumbs-up"></i>
                    <a>
                      김수연, 조영득, 이승민 and 3 others
                    </a>  
                  </div>
                  <div class="insert">
                    <div class="clearfix">
                      <div class="pull-left">
                        <img class="profile-picture" src="http://graph.facebook.com/{{ article.created_by }}/picture?type=square">
                      </div>
                      <div class="pull-left">
                        <input type="text" class="form-control" placeholder="댓글을 입력하세요...">
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="comment">
                    <div class="clearfix">
                      <div class="pull-left">
                        <img class="profile-picture" src="http://graph.facebook.com/{{ comment.created_by }}/picture?type=square">
                      </div>
                      <div class="pull-left">
                        <div>
                          <span class="comment-writer">
                            <a href="https://facebook.com/{{ comment.created_by }}">
                              {{ comment.created_by }}
                            </a>
                          </span>
                          <span>
                            {{ comment.message }}
                          </span>
                        </div>  
                        <div class="comment-detail">
                          <button>
                            <span>좋아요</span>
                          </button>
                          ·
                          <button>
                            <span>답글달기</span>
                          </button>
                           ·
                           <span>{{ comment.created_at }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="comments">
                      <blockquote>
                        <div class="insert">
                          <div class="clearfix">
                            <div class="pull-left">
                              <img class="profile-picture" src="http://graph.facebook.com/{{ article.created_by }}/picture?type=square">
                            </div>
                            <div class="pull-left">
                              <input type="text" class="form-control" placeholder="댓글을 입력하세요...">
                            </div>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                  <div class="comment">
                    <div class="clearfix">
                      <div class="pull-left">
                        <img class="profile-picture" src="http://graph.facebook.com/{{ comment.created_by }}/picture?type=square">
                      </div>
                      <div class="pull-left">
                        <div>
                          <span class="comment-writer">
                            <a href="https://facebook.com/{{ comment.created_by }}">
                              {{ comment.created_by }}
                            </a>
                          </span>
                          <span>
                            {{ comment.message }}
                          </span>
                        </div>  
                        <div class="comment-detail">
                          <button>
                            <span>좋아요</span>
                          </button>
                          ·
                          <button>
                            <span>답글달기</span>
                          </button>
                           ·
                           <span>{{ comment.created_at }}</span>
                        </div>
                      </div>
                    </div>
                    <div class="comments">
                      <blockquote>
                        <div class="comment">
                          <div class="clearfix">
                            <div class="pull-left">
                              <img class="profile-picture" src="http://graph.facebook.com/{{ comment.created_by }}/picture?type=square">
                            </div>
                            <div class="pull-left">
                              <div>
                                <span class="comment-writer">
                                  <a href="https://facebook.com/{{ comment.created_by }}">
                                    {{ comment.created_by }}
                                  </a>
                                </span>
                                <span>
                                  {{ comment.message }}
                                </span>
                              </div>  
                              <div class="comment-detail">
                                <button>
                                  <span>좋아요</span>
                                </button>
                                ·
                                <button>
                                  <span>답글달기</span>
                                </button>
                                 ·
                                 <span>{{ comment.created_at }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="comment">
                          <div class="clearfix">
                            <div class="pull-left">
                              <img class="profile-picture" src="http://graph.facebook.com/{{ comment.created_by }}/picture?type=square">
                            </div>
                            <div class="pull-left">
                              <div>
                                <span class="comment-writer">
                                  <a href="https://facebook.com/{{ comment.created_by }}">
                                    {{ comment.created_by }}
                                  </a>
                                </span>
                                <span>
                                  {{ comment.message }}
                                </span>
                              </div>  
                              <div class="comment-detail">
                                <button>
                                  <span>좋아요</span>
                                </button>
                                ·
                                <button>
                                  <span>답글달기</span>
                                </button>
                                 ·
                                 <span>{{ comment.created_at }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="insert">
                          <div class="clearfix">
                            <div class="pull-left">
                              <img class="profile-picture" src="http://graph.facebook.com/{{ article.created_by }}/picture?type=square">
                            </div>
                            <div class="pull-left">
                              <input type="text" class="form-control" placeholder="댓글을 입력하세요...">
                            </div>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="statics/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="statics/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="statics/js/post.js"></script>
  </body>
</html>