.post {
  margin-bottom: 0; }
  .post .panel {
    border-radius: 3px;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    box-shadow: none; }
    .post .panel .panel-body {
      padding: 12px;
      padding-bottom: 5px; }
  .post img.profile-picture {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .post div.pull-right {
    width: 250px; }
    .post div.pull-right div.dropdown > a i {
      color: #9197a3;
      font-weight: bold; }
    .post div.pull-right div.dropdown .dropdown-menu {
      position: absolute;
      top: 15px; }
  .post .header {
    margin-bottom: 10px; }
    .post .header .article-writer a {
      cursor: pointer;
      color: #3b5998;
      font-weight: bold;
      text-decoration: none; }
    .post .header .article-detail {
      color: #9197a3;
      font-size: 12px; }
      .post .header .article-detail a {
        color: #9197a3; }
  .post .footer {
    color: #7f7f7f;
    font-size: 12px;
    font-weight: bold; }
    .post .footer hr {
      color: #e5e5e5;
      margin-top: 10px;
      margin-bottom: 5px; }
    .post .footer button {
      border: none;
      background: transparent;
      margin-right: 20px;
      padding: 0; }
      .post .footer button i {
        margin-right: 2px; }
  .post .comments {
    margin-bottom: 0; }
    .post .comments .panel {
      border-radius: 3px;
      border-top: 1px solid #e5e5e5;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-bottom: 0;
      box-shadow: none;
      background: #f6f7f8; }
      .post .comments .panel .panel-body {
        padding: 10px 12px;
        padding-bottom: 5px; }
    .post .comments img.profile-picture {
      width: 32px;
      height: 32px; }
    .post .comments div.pull-right {
      width: 100px; }
    .post .comments hr {
      margin-top: 5px;
      margin-bottom: 5px; }
    .post .comments .header {
      margin-bottom: 10px;
      color: #5890ff;
      font-size: 12px; }
      .post .comments .header a {
        color: #3b5998; }
    .post .comments .insert {
      position: relative; }
      .post .comments .insert .clearfix {
        position: relative; }
        .post .comments .insert .clearfix .pull-left:nth-of-type(2) {
          position: absolute;
          left: 40px;
          right: 0; }
          .post .comments .insert .clearfix .pull-left:nth-of-type(2) input[type="text"] {
            height: 32px;
            border: 1px solid #bdc7d8;
            border-radius: 0;
            font-size: 12px; }
    .post .comments .comment {
      font-size: 12px;
      margin-bottom: 5px; }
      .post .comments .comment .comment-writer a {
        cursor: pointer;
        color: #3b5998;
        font-weight: bold;
        text-decoration: none; }
      .post .comments .comment .comment-detail {
        color: #9197a3; }
        .post .comments .comment .comment-detail button {
          color: #3b5998; }
        .post .comments .comment .comment-detail button {
          border: none;
          background: transparent;
          padding: 0; }
    .post .comments .comments {
      margin-left: 24px; }
      .post .comments .comments blockquote {
        margin: 8px;
        border-left: 2px solid #dcdee3;
        padding: 0;
        padding-left: 8px; }
        .post .comments .comments blockquote img.profile-picture {
          width: 20px;
          height: 20px; }
      .post .comments .comments .insert img.profile-picture {
        margin-top: -8px; }
      .post .comments .comments .insert .clearfix .pull-left:nth-of-type(2) {
        left: 28px; }
        .post .comments .comments .insert .clearfix .pull-left:nth-of-type(2) input[type="text"] {
          height: 20px;
          padding: 6px; }

/*# sourceMappingURL=post.css.map */
