.post {
	margin-bottom: 0;
	.panel {
		border-radius: 3px;
		border-bottom: none;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		margin-bottom: 0;
		box-shadow: none;
		.panel-body {
			padding: 12px;
			padding-bottom: 5px;
		}
	}
	img.profile-picture {
		width: 40px;
		height: 40px;
		margin-right: 8px;
		border: 1px solid rgba(0, 0, 0, .1);
	}
	div.pull-right {
		width: 250px;
		div.dropdown {
			> a {
				i {
					color: #9197a3;
					font-weight: bold;
				}
			}
			.dropdown-menu {
				position: absolute;
				top: 15px;
			}
		}
	}
	.header {
		margin-bottom: 10px;
		.article-writer {
			a {
				cursor: pointer;
				color: #3b5998;
				font-weight: bold;
				text-decoration: none;
			}
		}
		.article-detail {
			color: #9197a3;
			font-size: 12px;
			a {
				color: #9197a3;
			}
		}
	}
	.footer {
		color: #7f7f7f;
		font-size: 12px;
		font-weight: bold;
		hr {
			color: #e5e5e5;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		button {
			border: none;
			background: transparent;
			margin-right: 20px;
			padding: 0;
			i {
				margin-right: 2px;
			}
		}
	}
	.comments {
		margin-bottom: 0;
		.panel {
			border-radius: 3px;
			border-top: 1px solid #e5e5e5;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			margin-bottom: 0;
			box-shadow: none;
			background: #f6f7f8;
			.panel-body {
				padding: 10px 12px;
				padding-bottom: 5px;
			}
		}
		img.profile-picture {
			width: 32px;
			height: 32px;
		}
		div.pull-right {
			width: 100px;
		}
		hr {
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.header {
			margin-bottom: 10px;
			color: #5890ff;
			font-size: 12px;
			a {
				color: #3b5998;
			}
		}
		.insert {
			position: relative;
			.clearfix {
				position: relative;
				.pull-left {
					&:nth-of-type(2) {
						position: absolute;
						left: 40px;
						right: 0;
						input[type="text"] {
							height: 32px;
							border: 1px solid #bdc7d8;
							border-radius: 0;
							font-size: 12px;
						}
					}
				}
			}
		}
		.comment {
			font-size: 12px;
			margin-bottom: 5px;
			.comment-writer {
				a {
					cursor: pointer;
					color: #3b5998;
					font-weight: bold;
					text-decoration: none;
				}
			}
			.comment-detail {
				color: #9197a3;
				button {
					color: #3b5998;
				}
				button {
					border: none;
					background: transparent;
					padding: 0;
				}
			}
		}
		.comments {
			margin-left: 24px;
			blockquote {
				margin: 8px;
				border-left: 2px solid #dcdee3;
				padding: 0;
				padding-left: 8px;
				img.profile-picture {
					width: 20px;
					height: 20px;
				}
			}
			.insert {
				img.profile-picture {
					margin-top: -8px;
				}
				.clearfix {
					.pull-left {
						&:nth-of-type(2) {
							left: 28px;
							input[type="text"] {
								height: 20px;
								padding: 6px;
							}
						}
					}
				}
			}
		}
	}
}




























